@model IEnumerable<ProjetoGerenciadorDeVendas.Models.Department>

@{
    ViewData["Title"] = "Departments";
}

<h2>@ViewData["Title"]</h2>


<table class="table">
    <thead>
        <tr class="success">
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="active">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td align="right">
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<p class="text-right">
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>
